body {
    background: linear-gradient(#f79452, #ba520d);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    position: relative;
    width: 300px;
    margin: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #f79452;
    color: #fff;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}

.suggestions.has-suggestions {
    display: block;
}

ul li {
    padding: 10px;
    cursor: pointer;
}

ul li:hover {
    background: #ba520d;
    color: #fff;
}

